body {
    .navbar-custom

{
    background-color: #000000;
}

.search-button {
    background-color: #000000;
    color: #3b71ca;
    border-color: #3b71ca;
    margin-left: 10px;
    margin-right: 10px;
}

    .search-button:hover {
        background-color: #3b71ca;
        color: #000000;
    }

.seccion-custom {
    background-color: #3b71ca;
    color:black;
}
}

.footer-custom {
    background-color: #3b71ca;
    color: black;
}