.container-detalle {
    height: 70vh;
    margin-top: 70px;
    margin-bottom: 25px;
}

.carousel-estilo {
    padding: 25px;
}

.carousel-inner .carousel-item img {
    max-width: 350px;
    height: 350px;
}